:root {
  --color-primary: #ffb606;
  --color-secondary: #07142e;
  --color-blue: #2171b3;
  --color-light: #ababab;
  --color-light-a: #ababab55;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
}

::-moz-selection {
  color: #fff;
  background-color: var(--color-primary);
}

::selection {
  color: #fff;
  background-color: var(--color-primary);
}

body {
  background-color: var(--color-secondary);
}

.header {
  max-width: 120rem;
  margin: 0 auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.main {
  background-image: url(../img/background-cs.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 160px);
}

@media only screen and (max-width: 36em) {
  .main {
    background: #fff;
    height: auto;
  }
}

.main2 {
  background-color: #fff;
}

.footer {
  margin: 0 auto;
  padding: 0 3rem;
}

.container {
  width: 100%;
  background-color: var(--color-secondary);
  margin: 0 auto;
  z-index: 1;
}

.container2 {
  max-width: 120rem;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 36em) {
  .container2 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 1rem;
    padding-top: 4.5rem;
  }
}

.container3 {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.py-main2 {
  padding: 8rem 3rem;
}

.py-footer {
  padding: 8rem 0 4rem;
}

.nav_position {
  top: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pt {
  padding-top: 1.5rem;
}

.pb {
  padding-bottom: 5rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 75em) {
  .xl-padding-y {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden1 {
  display: none;
}

.hidden2 {
  display: none;
}

.hidden3 {
  display: none;
}

.hidden4 {
  display: none;
}

.hidden5 {
  display: none;
}

.hidden6 {
  display: none;
}

.hidden7 {
  display: none;
}

.top {
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--color-light);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ffb4061f;
}

@media only screen and (max-width: 36em) {
  .top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 36em) {
  .top-left {
    display: none;
  }
}

.top-icon__phone {
  font-size: 1.3rem;
  padding: 0 10px;
}

.top-icon__drop {
  font-size: 2rem;
  padding-left: 10px;
}

.top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-right__login {
  color: var(--color-primary);
  padding-right: 4px;
  border-right: 1px solid var(--color-light);
  cursor: pointer;
}

.top-right__login:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 36em) {
  .top-right__login {
    font-size: 1.7rem;
    font-weight: 600;
  }
}

.top-right__register {
  padding-left: 4px;
  color: var(--color-primary);
  cursor: pointer;
}

.top-right__register:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 36em) {
  .top-right__register {
    font-size: 1.7rem;
    font-weight: 600;
  }
}

.top-right__language {
  padding: 0 0.5rem 0 2rem;
}

@media only screen and (max-width: 36em) {
  .top-right__language {
    display: none;
  }
}

.top-right__wrap {
  cursor: pointer;
}

.top-right__wrap > *:hover {
  text-decoration: underline;
}

.top-right__selection {
  border: 1px solid var(--color-light);
  padding: 3px 5px;
  color: white;
  background-color: black;
  width: 100%;
  font-weight: 600;
}

.top-right__selection:last-child {
  background-color: #09c;
}

@media only screen and (max-width: 36em) {
  .top-right__selection {
    display: none;
  }
}

.search-bar {
  width: 22%;
  font-size: 1.5rem;
  border: 1px solid #999;
  background-color: #666;
  padding: 0.7rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 36em) {
  .search-bar {
    width: 40%;
  }
}

.search-bar__input {
  width: 90%;
  background-color: #666;
  color: #ddd;
  border: none;
  outline: none;
}

.search-bar__input::-webkit-input-placeholder {
  color: rgba(221, 221, 221, 0.9);
  font-size: 1.6rem;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.search-bar__input:-ms-input-placeholder {
  color: rgba(221, 221, 221, 0.9);
  font-size: 1.6rem;
  transform: translateY(1px);
}

.search-bar__input::-ms-input-placeholder {
  color: rgba(221, 221, 221, 0.9);
  font-size: 1.6rem;
  transform: translateY(1px);
}

.search-bar__input::placeholder {
  color: rgba(221, 221, 221, 0.9);
  font-size: 1.6rem;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.search-bar__input:focus::-webkit-input-placeholder {
  color: rgba(221, 221, 221, 0.472);
}

.search-bar__input:focus:-ms-input-placeholder {
  color: rgba(221, 221, 221, 0.472);
}

.search-bar__input:focus::-ms-input-placeholder {
  color: rgba(221, 221, 221, 0.472);
}

.search-bar__input:focus::placeholder {
  color: rgba(221, 221, 221, 0.472);
}

.search-bar__button {
  color: #ddd;
}

@media only screen and (max-width: 36em) {
  .logo {
    width: 55%;
  }
  .logo img {
    width: 100%;
  }
}

.nav__box {
  background-color: var(--color-primary);
}

@media only screen and (max-width: 62.5em) {
  .nav__box {
    min-height: 6rem;
  }
}

.nav__box__bar {
  display: none;
  font-size: 2.5rem;
  color: #fff;
  position: absolute;
  right: 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

@media only screen and (max-width: 62.5em) {
  .nav__box__bar {
    display: block;
  }
}

.nav__item {
  list-style-type: none;
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (max-width: 62.5em) {
  .nav__item {
    display: none;
  }
}

.nav__item:not(:first-child) > a {
  border-left: 1px solid #6d66541c;
}

.nav__item__link {
  color: var(--color-secondary);
  text-decoration: none;
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.nav__item:hover .nav__item__link,
.nav__item:hover .nav__item__icon {
  color: white;
}

.nav__item__icon {
  font-size: 1.3rem;
  margin-left: -1.5rem;
}

.nav__item:hover .dropbox {
  opacity: 1;
}

.dropbox {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform: translateX(1.3rem);
          transform: translateX(1.3rem);
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1rem;
}

@media only screen and (max-width: 62.5em) {
  .dropbox {
    display: none;
  }
}

.dropbox a {
  color: black;
  text-decoration: none;
  padding: 1.3rem;
  font-size: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 15rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropbox a:hover {
  color: var(--color-blue);
}

.dropbox-lg {
  cursor: auto;
  top: 100%;
  left: 0;
  z-index: 2;
}

@media only screen and (max-width: 62.5em) {
  .dropbox-lg {
    display: none;
  }
}

.dropbox-lg__banner {
  background-color: #2f446e;
  padding: 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropbox-lg__banner__item {
  border-left: 3px solid var(--color-primary);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.dropbox-lg__banner__item:last-child {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.dropbox-lg__banner__item a {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.8rem;
  padding-left: 1rem;
  font-weight: 600;
}

.dropbox-lg__main {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
}

.dropbox-lg__main__title {
  width: 92%;
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid var(--color-light-a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dropbox-lg__main__title__map {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--color-light);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropbox-lg__main__title__map i {
  font-size: 1.3rem;
  padding: 0 0.8rem;
}

.dropbox-lg__main__title__map:hover {
  color: rgba(0, 0, 0, 0.671);
}

.dropbox-lg__main__left {
  width: 25%;
}

.dropbox-lg__main__left__picbox {
  width: 23rem;
  padding: 1rem;
  margin-top: 2rem;
  border: 1px solid var(--color-light-a);
  text-align: center;
  cursor: pointer;
}

.dropbox-lg__main__left__picbox img {
  width: 20rem;
  height: 20rem;
}

.dropbox-lg__main__left__picbox p {
  color: var(--color-blue);
  font-size: 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.dropbox-lg__main__left__picbox p:hover {
  color: var(--color-secondary);
}

.dropbox-lg__main__center {
  width: 50%;
  font-size: 1.5rem;
}

.dropbox-lg__main__center__bigbox {
  padding-top: 2rem;
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 3;
}

.dropbox-lg__main__center__bigbox__item {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-right: 1px solid var(--color-light-a);
}

.dropbox-lg__main__center__bigbox__item:not(:first-child) {
  padding-left: 3rem;
}

.dropbox-lg__main__center__bigbox__item > div:hover {
  color: var(--color-blue);
}

.dropbox-lg__main__right {
  width: 25%;
  font-size: 1.5rem;
}

.dropbox-lg__main__right__bigbox {
  padding-top: 2rem;
  line-height: 3;
}

.dropbox-lg__main__right__bigbox > div {
  cursor: pointer;
}

.dropbox-lg__main__right__bigbox > div:hover {
  color: var(--color-blue);
}

.main__title {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 700;
  text-shadow: 2px 1px 1px #505050;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 75em) {
  .main__title {
    margin-left: 2rem;
    font-size: 5rem;
  }
}

@media only screen and (max-width: 36em) {
  .main__title {
    display: none;
  }
}

.main__cta {
  font-size: 1.8rem;
  font-weight: 700;
  background-color: var(--color-primary);
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 8%;
}

@media only screen and (max-width: 75em) {
  .main__cta {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 36em) {
  .main__cta {
    display: none;
  }
}

.main__cta:hover {
  background-color: #d69600;
}

.main__bottom {
  background-color: rgba(19, 12, 12, 0.514);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 62.5em) {
  .main__bottom {
    bottom: -20rem;
    background-color: #666;
  }
}

@media only screen and (max-width: 36em) {
  .main__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: static;
    padding: 0;
  }
}

.main__bottom__box {
  cursor: pointer;
  width: 25%;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2% 4%;
}

@media only screen and (max-width: 47em) {
  .main__bottom__box {
    padding: 2% 2.5%;
  }
}

@media only screen and (max-width: 36em) {
  .main__bottom__box {
    width: 50%;
  }
}

.main__bottom__box:not(:last-child) {
  border-right: 1px solid var(--color-light-a);
}

@media only screen and (max-width: 47em) {
  .main__bottom__box:not(:last-child) {
    border-right: none;
  }
}

.main__bottom__box__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main__bottom__box__title:hover {
  -webkit-text-decoration: 1px underline;
          text-decoration: 1px underline;
}

.main__bottom__box__icon i {
  color: var(--color-primary);
  font-size: 4rem;
  padding-bottom: 1rem;
}

.main__phone {
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../img/iconbox.jpg");
  background-size: 140%;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 2px #505050;
}

@media only screen and (min-width: 577px) {
  .main__phone {
    display: none;
  }
}

.main__phone:nth-child(2) {
  background-image: url("../img/iconbox-2.jpg");
}

@media only screen and (max-width: 62.5em) {
  .main2__rwd {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 47em) {
  .main2__rwd {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

.main2__cta {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-blue);
}

.main2__cta__center {
  color: var(--color-primary);
}

.main2__cta:hover {
  text-decoration: underline;
}

.main2__title {
  font-size: 3rem;
  padding: 4rem 0 8rem;
  font-weight: bold;
  position: relative;
}

@media only screen and (max-width: 62.5em) {
  .main2__title {
    font-size: 3.2rem;
  }
}

.main2__title::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid;
  top: 0;
  left: 0;
  width: 4rem;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
}

.main2__item {
  width: 85%;
  margin-bottom: 3rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--color-light-a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main2__item__right {
  width: 100%;
}

.main2__item__date {
  width: 5rem;
  height: 6rem;
  color: var(--color-primary);
  border: 1px solid;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main2__item__date__day {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 3rem;
  font-weight: 600;
}

.main2__item__date__month {
  font-size: 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 1;
}

.main2__item__info {
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 62.5em) {
  .main2__item__info {
    font-size: 2rem;
  }
}

.main2__item__info:hover {
  color: var(--color-blue);
}

.main2__item__info__right:hover {
  color: var(--color-primary);
}

.main2__box {
  width: 33.333333%;
  position: relative;
}

@media only screen and (max-width: 62.5em) {
  .main2__box {
    width: 50%;
  }
  .main2__box:last-child {
    width: 100%;
  }
}

@media only screen and (max-width: 47em) {
  .main2__box {
    width: 100%;
  }
}

.main2__box__left {
  width: 100%;
}

@media only screen and (max-width: 62.5em) {
  .main2__box__left {
    padding-top: 15rem;
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 47em) {
  .main2__box__left {
    display: none;
  }
}

.main2__box__left__content {
  width: 65%;
  font-size: 1.5rem;
  color: var(--color-blue);
}

@media only screen and (max-width: 62.5em) {
  .main2__box__left__content {
    width: 100%;
    font-size: 1.8rem;
  }
}

.main2__box__left__content img {
  width: 100%;
}

.main2__box__left__content p {
  padding: 2rem 0;
}

@media only screen and (max-width: 62.5em) {
  .main2__box__center {
    padding-top: 15rem;
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 47em) {
  .main2__box__center {
    padding-top: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 47em) {
  .main2__box__right {
    padding-top: 15rem;
  }
}

@media only screen and (max-width: 36em) {
  .main2__box__right {
    padding-top: 0;
  }
}

.main2__box__right__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main2__box__right__wrap__info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #777;
  font-size: 1.3rem;
  padding-top: 1rem;
}

.main2__box__right__wrap__info-box__item {
  padding: 0.2rem;
}

.main2__box__right__wrap__info-box__item i {
  padding: 0 0.5rem 0 1.3rem;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ffb4061f;
}

@media only screen and (max-width: 47em) {
  .footer__top {
    display: none;
  }
}

.footer__top__app {
  font-size: 1.6rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top__app img {
  cursor: pointer;
}

.footer__top__app > * {
  padding: 0.8rem 0;
}

.footer__top__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

.footer__top__site__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top__site__item h2 {
  color: #fff;
  font-size: 1.7rem;
  padding-bottom: 3rem;
}

.footer__top__site__item a {
  text-decoration: none;
  color: var(--color-light);
  font-size: 1.6rem;
  padding: 1rem 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__top__site__item a:hover {
  color: var(--color-primary);
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  padding: 3rem 0 8rem;
  color: var(--color-light);
}

@media only screen and (max-width: 47em) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 47em) {
  .footer__bottom__left {
    padding: 2rem 0;
  }
}

.footer__bottom a {
  color: inherit;
  text-decoration: none;
}

.footer__bottom a:not(:first-child) {
  padding-left: 1rem;
}

.footer__bottom a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */